<div class="courses-container">
    <div class="courses-list" style="margin-top: 3%; width: 40%;">
        <a [routerLink]="['/main/items']" routerLinkActive="active" style="text-decoration: none;">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="font-size: xx-large;">Items</mat-card-title>
            </mat-card-header>
            <mat-card-content style="margin: 8%;">
                        <a [routerLink]="['/main/items']" routerLinkActive="active">
                            <button mat-fab color="primary" style="transform: scale(2);">
                                <mat-icon style="transform: scale(2);">view_comfy</mat-icon>
                            </button>
                        </a>
            </mat-card-content>
        </mat-card>
    </a>
    </div>

    <div class="courses-list" style="margin-top: 3%; width: 40%;">
        <a [routerLink]="['/main/secondary']" routerLinkActive="active" style="text-decoration: none;">
        <mat-card>
            <mat-card-header>
                <mat-card-title style="font-size: xx-large;">Other</mat-card-title>
            </mat-card-header>
            <mat-card-content style="margin: 8%;">
                        <a [routerLink]="['/main/secondary']" routerLinkActive="active">
                            <button mat-fab color="primary" style="transform: scale(2);">
                                <mat-icon style="transform: scale(1.5);">card_membership</mat-icon>
                            </button>
                        </a>
            </mat-card-content>
        </mat-card>
    </a>
    </div>

    
</div>
